@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
  width: 100%;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: rgb(0, 212, 255);
  background: linear-gradient(90deg, rgb(0, 212, 255) 0%, rgb(211, 255, 9) 100%, rgb(165, 102, 43) 100%);
}

.calculator {
  margin: 50px 0;
  padding: 30px 40px;
  display: flex;
  flex-basis: 400px;
  height: 540px;
  border: 1px solid rgba(255, 255, 255, 0.01);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}

.screen {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  color: #232323;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 330px rgba(35, 35, 35, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  overflow: hidden;
  font-size: 35px;
  padding: 20px;
  text-align: right;
  width: 326px;
}

.calc-buttons__row {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}
.calc-buttons__btn {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background-color: rgba(255, 255, 255, 0.75);
  color: #232323;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  flex-basis: 20%;
  font-family: inherit;
  font-size: 24px;
  height: 65px;
}
.calc-buttons__btn:hover {
  background-color: inherit;
}
.calc-buttons__btn:last-child {
  color: #fff;
  background-color: #d72880;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
}
.calc-buttons__btn:last-child:hover {
  background-color: inherit;
  color: #000;
}
.calc-buttons__btn:last-child:active {
  background-color: #ff9f32;
}
.calc-buttons__btn:active {
  background-color: #ffef78;
}

.double {
  flex-basis: 47%;
}

.triple {
  flex-basis: 73%;
}